  body {
    background-color: rgb(11, 254, 84);
  }
  h1 {
    color: rgb(255, 19, 19);
  }
  p {
    color: rgb(70, 19, 255);
  }

  #myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
  }

  .city {
  background-color: tomato;
  color: white;
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
}